ul {
    list-style: none;
}


.Ad_PDManage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 40px;
}

.Ad_PDManage .container {
    width: 100%;
    height: 100%;
  
}

.Ad_PDManage .actions-menu {
    width: 100%;
    height: 60px;
}


.Ad_PDManage .table-products .header-tb ul{
    background-color: #480505;
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr 2fr;
    min-height: 50px;
    align-items: center;
    padding: 0 8px;
    text-transform: uppercase;
}

.Ad_PDManage .table-products .main-tb {
    overflow-y: auto;
    max-height: 660px;
}



.Ad_PDManage .actions-menu .actions-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.Ad_PDManage  .create-btn {
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #4BB543;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}

.create {
    min-width: 100px;
    margin-right: 10px;
}

.Ad_PDManage .filters {
    display: flex;
    margin-right: 55px;
}

.Ad_PDManage .search-product {
    position: relative;
    height: 40px;
}

.Ad_PDManage .search-product a{
    width: 24px;
    top: 20%;
    height: 24px;
    position: absolute;
    right: 10px;
    cursor: pointer;

}
.Ad_PDManage .search-product a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.Ad_PDManage .filters .search-product input{
    height: 30px;
    outline: none;
    padding: 0 10px;
    width: 250px;
    height: 100%;
}

.Ad_PDManage .filters select {
    margin-left: 10px;
    padding: 0px 10px;
}



.CreateNewFrom {
    background-color: rgba(00, 00, 00, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CreateNewFrom .container{
    width: 900px;
    height:600px; 
    margin: 0 auto;
    background-color: white;
    padding: 20px 90px;
    border-radius: 8px;

}

.CreateNewFrom .container .title {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom:2px solid black;
    margin-bottom: 40px;
    word-spacing: 10px;
}

.CreateNewFrom .form-create form .input-styled input, .input-styled textarea{
    width: 100%!important;
    height: 40px;
    padding: 0px 10px;
}

.CreateNewFrom .container .category-input {
    display: flex;
}

.select-group {
    z-index: 20;
    margin-top: 20px;
    height: 60px;
    display: flex;
}

.select-group .category-input {
    height: 40px;
    margin-right: 20px;
    position: relative;
}

.select-group .brand-input {
    height: 40px;
}

.select-group select {
    width: 200px;
    padding: 6px 8px;
    margin-bottom: 10px;
    height: 100%;
}


.Ad_PDManage .newCate {
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Ad_PDManage .newCate img {
    width: 30px!important;
    height: 30px;

}

.Ad_PDManage .brand-input {
    display: flex;
    position: relative;
}

.Ad_PDManage .newBrand img {
    width: 30px!important;
    height: 30px;
}

.Ad_PDManage .newBrand {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
    cursor: pointer;

}


.CreateNewFrom .form-create form .input-group {
    width: 100%;
    margin-bottom: 20px;
}

.CreateNewFrom .form-create form .input-group .row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.CreateNewFrom .form-create form .input-group input {
    margin:0 10px;
    margin-bottom: 20px;
}
.description textarea{
    height: 100px;
    padding: 8px;
}


.close-form {
    position: absolute;
    right: 200px;
    top: 30px;
    cursor: pointer;
}


.fade-up {
    animation-fill-mode: forwards;
}

.fade-up .container{
    animation-name: fadeUp;
    animation-duration: 1s;
   
}

@keyframes fadeUp {
    from {
        transform: translateY(-100px);
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        z-index: 2;
        visibility: visible;
    }
}

.fade-out {
    visibility: hidden;
}

.fade-out .container{
    animation-name: fadeOutBg;
    animation-duration: 1.4s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
    
}



@keyframes fadeOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100px);
        opacity: 0;
        visibility: hidden;
    }
}

.Ad_PDManage .form-create .image {
    margin-bottom: 20px;
}
.btn-submit {
    display: flex;
    justify-content: flex-end;
}
.btn-submit button{
    padding: 12px 58px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #24A0DE;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.4s ;
}

.btn-submit button:hover {
    background-color: #0d6ba5;
    transition: 0.4s;
}

.CreateNewFrom .toast-create{
    width: 0px;
    height: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SmallFieldInput {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.SmallFieldInput input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    padding-right: 70px!important;
    border:2px solid #168900 ;
}


.SmallFieldInput .create-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 4px;
    font-size: 10px;
    background-color: #168900;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: 0.2s;
    
}
.SmallFieldInput .create-btn:hover {
    opacity: 1;
    transition: 0.2s;
}

.fade-in-width {
    animation-name: fadeInWidth;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;

}



@keyframes fadeInWidth {
    from {
        width: 0px;
     
    }
    to {
        width: 200px;
    }
}

@keyframes fadeOutWidth {
    from {
        width: 0px;
    }
    to {
        width: 200px;
    }
}

.paginate {
    background-color: white;
    left: 40%;
    z-index: 10;
    position: absolute;
    bottom: -30px;
    display: flex;
    height: 50px;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1200px;


}

.paginate li {
 
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
   
}

.paginate li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
    cursor: pointer;
    font-size: 14px;
}

.selectedPage {
    background-color: #ddd;
}